* {
  margin: 0;
  text-align: center;
}

body {
  margin: 0;
  min-height: calc(100dvh - 30px);
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
  // -webkit-text-size-adjust: none;
  // touch-action: manipulation; /*prevent user scaling*/
}

.container {
  margin: 0;
  min-height: calc(100dvh - 30px);
  margin: 15px;
  // height: calc(100vh - 30px);
  display: flex;
}

.button {
  display: flex;
  width: 100%;
  height: auto;
  margin: 15px;
  border: 0;
  border-radius: 15px;
  background-color: gray;
  justify-content: center;
}

.icon {
  margin: auto;
}

.red {
  background-color: #d34437;
}

.blue {
  background-color: #254889;
}

.green {
  background-color: #408d51;
}

.yellow {
  background-color: #f5c148;
}

@mixin fullscreen {
  position: fixed;
  width: 100vw !important;
  height: 100vh !important;
}

body,
html {
  @include fullscreen();
}

:-webkit-full-screen {
  @include fullscreen();
}

:-moz-full-screen {
  @include fullscreen();
}

:-ms-fullscreen {
  @include fullscreen();
}

:full-screen {
  @include fullscreen();
}

:fullscreen {
  @include fullscreen();
}

::-webkit-scrollbar {
  display: none;
}

/* styling the backdrop*/

::backdrop,
::-ms-backdrop {
  /* Custom styles */
  background-color: #343a40;
}
